/* PROJECTS COMPONENT */
#projectsTitle {
  font-size: 7vw;
  margin: 10% auto 0 7%;
}

#projectsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 12.51vw;
}

.project {
  margin: 2.5vw;
  display: flex;
  flex-direction: column;
  width: 75.1vw;
}

.projectTitle {
  font-size: 3.75vw;
  margin-top: 0px;
  margin-bottom: 1.25vw;
  color: rgb(252,87,67);
}

.projectCaptionContainer {
  background-color: #d8d7d7;
  color: black;
  padding: 2.5vw;
}

.projectCaption {
  /* letter-spacing: 1px; */
  letter-spacing: 0.1vw;
  font-size: 1.5vw;
  margin-bottom: 0px;
}

.projectLink {
  /* margin-bottom: 0px; */
  height:50.07vw;
}

.projectTitleLink {
  text-decoration: none;
}

.repo-link {
  color: black;
  letter-spacing: 0;
  font-weight: 800;
  text-decoration: none;
}

.playLink {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration:none;
  width: 29.5vw;
  height: 3vw;
  color: white;
  font-size: 2.2vw;
  font-weight: 800;
  background-color: rgb(252,87,67);
  padding: 0.8vw;
}

.playLink:active {
  background-color: rgb(225,64,45);
}

.tags-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tags-wrapper.battleship {
  justify-content: space-between;
  align-items: center;
}

.tag {
  font-size: 2vw;
  outline: 0.1vw solid #8a8a8a;
  color: #8a8a8a;
  font-weight: 800;
  padding: 0.5vw;
  margin: 2vw 2vw 0 0;
}

/* .playLink:hover {
  background-color: black;
} */

.dogTransparent {
  height: 4vw;
}

.projectImage {
  width: 100%;
  height: 100%
}

@media only screen and (min-width: 800px) {
  #projectsTitle {
    font-size: 56px;
    margin: 80px 0 0 56px;
  }
  #projectsContainer {
    margin-bottom: 100px;
  }

  .project {
    margin: 20px;
    width: 600px;
  }

  .projectTitle {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .projectCaptionContainer {
    padding: 20px;
  }

  .projectCaption {
    letter-spacing: 1px;
    font-size: 12px;
  }

  .projectLink {
    height: 400px;
    width: 600px;
  }

  .playLink {
    width: 240px;
    height: 23.8px;
    font-size: 17.6px;
    padding: 6.4px;
  }

  .dogTransparent {
    height: 32px;
  }

  .tag {
    font-size: 16px;
    outline: 1px solid #8a8a8a;
    padding: 4px;
    margin: 16px 16px 0 0;
  }
}

@media only screen and (min-width: 1000px) {
  #projectsContainer {
    margin-bottom: 12.51vw;
    align-items: flex-start;
  }

  .project {
    margin: 2.5vw;
    width: 45vw;
  }

  .projectTitle {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .projectCaptionContainer {
    padding: 25px;
  }

  .projectCaption {
    letter-spacing: 1.1px;
    font-size: 12px;
  }

  .projectLink {
    height:30vw;
    width: 45vw;
  }

  .playLink {
    width: 19.3vw;
    height: 2.2vw;
    font-size: 1.43vw;
    padding: 0.4vw;
  }

  .dogTransparent {
    height: 2.6vw;
  }
}

@media only screen and (min-width: 1400px) {
  /* PROJECT COMPONENT */
  #projectsContainer {
    margin-bottom: 175px;
    align-items: flex-start;
  }

  .project {
    margin: 35px;
    width: 630px;
  }

  .projectTitle {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .projectCaptionContainer {
    padding: 25px;
  }

  .projectCaption {
    letter-spacing: 1.1px;
    font-size: 12px;
  }

  .projectLink {
    height:420px;
    width: 630px;
  }
  .playLink {
    width: 269px;
    height: 28px;
    font-size: 20px;
    padding: 6px;
  }

  .dogTransparent {
    height: 39.19px;
  }
}

@media only screen and (max-width: 700px) {
  #projectsContainer {
    margin-bottom: 12.51vw;
  }

  .project {
    margin: 18px 0px;
    width: 525.69px;
  }

  .projectTitle {
    font-size: 26.25px;
    margin-bottom: 8.75px;
  }

  .projectCaptionContainer {
    padding: 17.5px;
  }

  .projectCaption {
    letter-spacing: 0.7px;
    font-size: 10.5px;
  }

  .projectLink {
    height:350.48px;
  }

  .repo-link {
    letter-spacing: 0;
  }

  .playLink {
    width: 206.5px;
    height: 21px;
    font-size: 15.4px;
    padding: 5.6px;
  }

  .tag {
    font-size: 14px;
    outline: 0.1vw solid #8a8a8a;
    padding: 3.5px;
    margin: 14px 14px 0 0;
  }

  .dogTransparent {
    height: 28px;
  }
}

@media only screen and (max-width: 523px) {
  .project {
    margin: 3.45vw 0px;
    width: 100%;
  }

  .projectLink {
    height: 66.94vw;
  }

  .tag {
    font-size: 2.68vw;
    outline: 0.1vw solid #8a8a8a;
    padding: 0.67vw;
    margin: 2.7vw 2.7vw 0 0;
  }
}

@media only screen and (max-width: 385px) {
  .playLink {
    width: 53.5vw;
    height: 5.3vw;
    font-size: 4vw;
    padding: 1.38vw;
  }

  .dogTransparent {
    height: 7.3vw;
  }
}
