body {
  font-family: 'Manrope', sans-serif;
  /* background-color: #e75313; */
  background-color: #white;
  /* display: inline-block; */
  font-size: 100%;
}

#headline {
  text-align: left;
  font-size: 7vw;
  line-height: 7vw;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 0% 5% 1% 25%;
}

footer {
  text-align: center;
  font-size: 11px;
  padding: 0px 20px 10px 20px;
  color: gray;
  letter-spacing: 0.6px;
}

iframe {
  width: 100%;
  height: 135vw;
}

@media only screen and (min-width: 1000px) {
  #headline {
    font-size: 70px;
    line-height: 70px;
    width: 668px;
    padding: 0px 33px 10px 0px;
    margin-left: auto;
    margin-right: 50px
  }

}

@media only screen and (min-width: 800px) {
  iframe {
    width: 800px;
    height: 1070px;
  }
}

@media only screen and (max-width: 600px) {
  footer {
    font-size: 9px;
    letter-spacing: 0.5px;
  }
  #headline {
    margin-top: 90px;
  }
}
