body {
  font-family: 'Manrope', sans-serif;
  /* background-color: #e75313; */
  background-color: #white;
  /* display: inline-block; */
  font-size: 100%;
}

/* HEADER COMPONENT */
/* .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

/* Keeps static position of header when scroll header appears */
.header-top-position {
  height: 6.7vw;
}

.header.scrolled {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0px;
  padding: 0 1.9vw 0 1.9vw;
}

.navbar.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* padding: 0.5vw 0.8vw 0.5vw 0.5vw; */
  padding: 4px 6.4px 4px 4px;
  background-color: rgba(255,255,255,0.9);
  box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.09);
}

.app-title-link {
  text-decoration: none;
}

.app-title {
  font-family: 'Manrope', sans-serif;
  text-align: left;
  font-size: 4.3vw;
  font-weight: 700;
  color: black;
  margin: 1.25% 0% 1.25% 2.5%;
  width: 34vw;
}

.app-title.scrolled {
  position: fixed;
  /* font-size: 2vw;
  margin: 0.58vw 0 0 0.8vw; */
  color: rgba(0,0,0,1);
  z-index: 1;
  font-size: 20px;
  margin: 4.5px 0 0 8px;
}

.navLinks {
  text-decoration:none;
  color: rgb(252,87,67);
  font-size: 2.5vw;
  margin-left: 1.9vw;
  margin-right: 1.9vw;
  font-weight: 600;
}

.navLinks.scrolled {
  /* font-size: 1.67vw;
  margin-right: 1.27vw;
  margin-left: 1.27vw; */
  color: rgba(252,87,67,1);
  font-size: 16.7px;
  margin-right: 12.7px;
  margin-left: 12.7px;
}

.navLinksAbout {
  text-decoration:none;
  color: rgb(252,87,67);
  font-size: 2.5vw;
  margin-right: 1.9vw;
  font-weight: 600;
}

.navLinksAbout.scrolled {
  /* font-size: 1.67vw;
  margin-right: 1.27vw; */
  color: rgba(252,87,67,1);
  font-size: 16.7px;
  margin-right: 12.7px;
}

.navLogoLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactLink {
  text-decoration:none;
  color: white;
  font-size: 2.5vw;
  font-weight: 600;
}

.navLinks:hover {
  color: black;
}
.navLinks.scrolled:hover {
  color: rgba(0,0,0,1);
}
.navLinksAbout.scrolled:hover {
  color: rgba(0,0,0,1);
}

.navLinksAbout:hover {
  color: black;
}

.contactButton {
  background-color: rgb(252,87,67);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 4.4vw;
  width:11.9vw;
  margin-right: 0;
  margin-left: 1.9vw;
}

.contactButton.scrolled {
  /* height: 2.93vw;
  width:7.93vw;
  margin-left: 1.27vw; */
  margin-right: 0;
  background-color: rgba(252,87,67,1);
  height: 29.3px;
  width:79.3px;
  margin-left: 12.7px;
}

.contactLink.scrolled {
  /* font-size: 1.67vw; */
  font-size: 16.7px;
}

.contactButton:hover {
  background-color: black;
}

.contactButton.scrolled:hover {
  background-color: rgba(0,0,0,1);
}

.navLogos {
  width: 3.75vw;
  margin-left: 1.9vw;
  margin-right: 1.9vw;
}

.navLogos.scrolled {
  /* width: 2.5vw;
  margin-left: 1.27vw;
  margin-right: 1.27vw; */
  width: 25px;
  margin-left: 12.7px;
  margin-right: 12.7px;
  /* opacity: 0.8; */
}

.example-enter {
  transform: translateY(100%);
}

.example-enter-active {
  transform: translateY(0%);
  transition: transform 1000ms ease-in-out;
}

.example-leave {
  transform: translateY(0%);
}

.example-leave.example-leave-active {
  transform: translateY(-100%);
  transition: transform 1000ms ease-in-out;
}

#headline {
  text-align: left;
  font-size: 7vw;
  line-height: 7vw;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 0% 5% 1% 25%;
}

/* CONTENT COMPONENT */
#contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(252,87,67);
  padding: 6% 5% 7% 5%;
}

#contentBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 70%;
  margin: 4%;
  margin-bottom: 0;
}

.logoWithLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin-bottom: 2%;
  text-align: center;
}

#logoContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#languages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 4%;
  width: 70%
}

#frameworks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.contentTitles {
  font-size: 5vw;
  margin: 0;
  font-weight: 700;
  color: white;
  margin-bottom: 3%;
}

label {
  font-size: 1.8vw;
  margin-top: 0.8%;
  color: black;
  letter-spacing: 0.1vw;
}

/* PROJECTS COMPONENT */
#projectsTitle {
  font-size: 7vw;
  margin: 10% auto 0 7%;
}

#projectsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 12.51vw;
}

.project {
  margin: 2.5vw;
  display: flex;
  flex-direction: column;
  width: 75.1vw;
}

.projectTitle {
  font-size: 3.75vw;
  margin-top: 0px;
  margin-bottom: 1.25vw;
  color: rgb(252,87,67);
}

.projectCaptionContainer {
  background-color: #d8d7d7;
  color: black;
  padding: 2.5vw;
}

.projectCaption {
  /* letter-spacing: 1px; */
  letter-spacing: 0.1vw;
  font-size: 1.5vw;
  margin-bottom: 0px;
}

.projectLink {
  /* margin-bottom: 0px; */
  height:50.07vw;
}

.projectTitleLink {
  text-decoration: none;
}

.repo-link {
  color: black;
  letter-spacing: 0;
  font-weight: 800;
  text-decoration: none;
}

.playLink {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration:none;
  width: 29.5vw;
  height: 3vw;
  color: white;
  font-size: 2.2vw;
  font-weight: 800;
  background-color: rgb(252,87,67);
  padding: 0.8vw;
}

.playLink:active {
  background-color: rgb(225,64,45);
}

.tags-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2vw;
}

.tags-wrapper.battleship {
  justify-content: space-between;
  align-items: center;
}

.tag {
  font-size: 2vw;
  outline: 0.1vw solid #8a8a8a;
  color: #8a8a8a;
  font-weight: 800;
  padding: 0.5vw;
  margin: 0px 1vw;
}
.tag.first {
  margin: 0px 1vw 0px 0px;
}

/* .playLink:hover {
  background-color: black;
} */

.dogTransparent {
  height: 4vw;
}

.projectImage {
  width: 100%;
  height: 100%
}

/* ABOUT COMPONENT */
#aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(252,87,67);
  color: white;
  height: auto;
  padding: 6% 5% 8% 5%;
}

#aboutCopy {
  font-size: 2vw;
  line-height: 2.8vw;
  letter-spacing: 0.08vw;
  color: white;
  font-weight: 600;
  margin: 0 0 3vw 0;
}

#aboutCopyWidth {
  width: 60%;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2vw;
  /* background-color: white; */
  margin-left: 2vw;
}

#aboutCopyContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2vw;
}

#about-button-wrapper {
  display: flex;
  flex-direction: row;
}

#aboutTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#aboutTitle {
  font-size: 7vw;
  width: 41vw;
  margin: 0 auto;
  text-align: center;
}

.about-buttons {
  background-color: white;
  color: rgb(252,87,67);
  font-weight: 800;
  padding: 0.5vw;
  font-size: 2vw;
  text-decoration: none;
  margin-right: 3vw;
}

.about-buttons:active {
  background-color: #d8d7d7;
}

.h1 {
  width: 15.63vw;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 0.5vw
}

.h1end {
  width: 19vw;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#h1Image {width: 100%;}

#h1EndImage {width: 100%;}

#headshotSpan {
  width: 18vw;
}

#headshot {width: 100%}

.resume-iframe-wrapper {
  display: flex;
  justify-content: center;

}

.modal-image {
  width: 35%;
  margin: 5vw 2vw 0vw 5vw;
  z-index: 1;
}

.modal-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
}

.modal-copy {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 5vw;
  font-size: 1.5vw;
  line-height: 2.4vw;
  margin: 2vw 0 2vw 0;
  height: 100%;
  z-index: 1;
}

.modal-title {
  font-size: 5vw;
  line-height: 5vw;
  margin: 1vw 0 0 0;
}

.modal-subtitle {
  font-size: 3vw;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);

}
.modal-window {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* z-index: 1; */
  background-color: white;
  margin: 5%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.modal-window-background {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.modal-window-background-half {
  background-color: rgb(252,87,67);
  width: 35%;
}

.about-buttons.modal {
  background-color: rgb(252,87,67);
  color: white;
  margin-right: 0;
}

.about-buttons:active {
  background-color: rgb(225,64,45);
}

.customOverlay {

}
.customModal {
  padding: 0px;

}

/* CONTACT COMPONENT */
#contactContainer {
  display: flex;
  flex-direction: row;
  color: black;
  padding: 12% 5% 5% 5%;
}

#contactTitle {
  color: black;
  font-size: 7vw;
  line-height: 100%;
  margin-left: 4%;
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Manrope', sans-serif;
  width: 50%;
}

#contactEmail {
  font-size: 2.5vw;
  font-weight: 600;
  letter-spacing: 0.2vw;
  line-height: 100%;
  margin-left: 4%;
  margin-top: 6%;
  background-color: rgb(252,87,67);
  height: 3.7vw;
  width: 50vw;
  padding: 1%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#contactEmail:active {
  background-color: rgb(225,64,45);
}

#contactLogoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1vw;
  margin-left: 4%;
}

#contactAssets {
  display: flex;
  flex-direction: row;
  width: 80%;
}

#jeremyCartoonContainer {
  width: 60%;
  max-width: 150px;
}

#jeremyCartoon {
  width: 100%;
}

.contactLinks {
  width: 10%;
  margin-right: 3%;
}

.contactLogos {
  width: 100%;

}

/* #email-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
} */

#copySuccess {
  margin: 0;
  font-size: 12px;
  margin-left: 4%;
  margin-top: 0.2vw;
  color: gray;
}

/* FOOTER */
footer {
  text-align: center;
  font-size: 11px;
  padding: 0px 20px 10px 20px;
  color: gray;
  letter-spacing: 0.6px;
}

/* @media only screen and (min-width: 1100px) {
  #headline {
    font-size: 77px;
    line-height: 77px;
    width: 770px;
    padding: 0px 0px 11px 0px;
    margin-left: auto;
    margin-right: 55px;
    font-size: 70px;
    line-height: 70px;
    width: 668px;
    padding: 0 0px 10px 0px;
    margin-left: auto;
    margin-right: 50px
  }
} */

@media only screen and (min-width: 800px) {
  /* HEADER COMPONENT */
  .navLinks {
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .navLinksAbout {
    font-size: 20px;
    margin-right: 15px;
  }
  .contactLink {
    font-size: 20px;
  }
  .contactButton {
    height: 35px;
    width: 95px;
    margin-left: 15px;
  }
  .navLogos {
    width: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }

  /* ABOUT COMPONENT */
  /* Sets maximum dimensions for component starting @ 800px window*/
  #aboutTitle {
    font-size: 56px;
    width: 328px;
  }

  .h1 {
    width: 125px;
    margin-right: 4px;
  }

  .h1end {
    width: 152px;
  }

  #aboutContainer {
    padding: 48px 40px 64px 40px;
  }

  #aboutCopy {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.65px;
    margin: 0 0 24px 0;
  }

  #aboutCopyWidth {
    width: 432px;
    padding: 16px;
    margin-left: 16px;
  }

  #aboutCopyContainer {
    margin-top: 16px;
  }

  .about-buttons {
    padding: 4px;
    font-size: 16px;
    margin-right: 24px;
  }

  #headshotSpan {
    width: 144px;
  }

  .modal-title {
    font-size: 40px;
    line-height: 40px;
    margin: 8px 0 0 0;
  }

  .modal-image {
    width: 266.56px;
    margin: 40px 16px 0 40px;
  }

  .modal-copy {
    padding-right: 30px;
    font-size: 12px;
    line-height: 18px;
    margin: 16px 0 16px 0;
    z-index: 1;
  }

  .modal-subtitle {
    font-size: 24px;
  }

  /* CONTACT COMPONENT */
  #contactTitle {
    font-size: 56px;
    line-height: 56px;
    margin-left: 17px;
    width: 213px;
  }
  #contactLogoContainer {
    font-size: 20px;
    letter-spacing: 0.5px;
    margin-left: 18px;
    margin-top: 8px;
  }
  #contactEmail {
    font-size: 20px;
    height: 31px;
    width: 401px;
    padding: 4.25px;
    letter-spacing: 1.6px;
  }
  #copySuccess {
    font-size: 12px;
    margin-left: 16.375px;
    margin-top: 1.6px;
  }
  #contactContainer {
    padding: 96px 40px 40px 40px;
  }
  #contactAssets {
    width: 576px;
  }
  .contactLinks {
    width: 42px;
  }
  /* PROJECT COMPONENT */
  #projectsTitle {
    font-size: 56px;
    margin: 80px 0 0 56px;
  }
  #projectsContainer {
    margin-bottom: 100px;
  }

  .project {
    margin: 20px;
    width: 600px;
  }

  .projectTitle {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .projectCaptionContainer {
    padding: 20px;
  }

  .projectCaption {
    letter-spacing: 1px;
    font-size: 12px;
  }

  .projectLink {
    height: 400px;
    width: 600px;
  }

  .playLink {
    width: 236px;
    height: 23.8px;
    font-size: 17.6px;
    padding: 6.4px;
  }

  .dogTransparent {
    height: 32px;
  }
  .tags-wrapper {
    margin-top: 16px;
  }

  .tag {
    font-size: 16px;
    outline: 1px solid #8a8a8a;
    padding: 4px;
    margin: 0px 8px;
  }
  .tag.first {
    margin: 0px 8px 0px 0px;
  }
}

@media only screen and (min-width: 930px) {
  /* HEADER COMPONENT */
  .app-title {
    font-size: 40px;
    margin: 11.7px 0px 11.7px 23.22px;
  }
}

@media only screen and (min-width: 1000px) {
  #headline {
    font-size: 70px;
    line-height: 70px;
    width: 668px;
    padding: 0px 33px 10px 0px;
    margin-left: auto;
    margin-right: 50px
  }
  /* PROJECT COMPONENT */
  #projectsContainer {
    margin-bottom: 12.51vw;
    align-items: flex-start;
  }

  .project {
    margin: 2.5vw;
    width: 45vw;
  }

  .projectTitle {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .projectCaptionContainer {
    padding: 25px;
  }

  .projectCaption {
    letter-spacing: 1.1px;
    font-size: 12px;
  }

  .projectLink {
    height:30vw;
    width: 45vw;
  }

  .playLink {
    width: 19.3vw;
    height: 2.2vw;
    font-size: 1.43vw;
    padding: 0.4vw;
  }

  .dogTransparent {
    height: 2.6vw;
  }
}

@media only screen and (min-width: 1400px) {
  /* PROJECT COMPONENT */
  #projectsContainer {
    margin-bottom: 175px;
    align-items: flex-start;
  }

  .project {
    margin: 35px;
    width: 630px;
  }

  .projectTitle {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .projectCaptionContainer {
    padding: 25px;
  }

  .projectCaption {
    letter-spacing: 1.1px;
    font-size: 12px;
  }

  .projectLink {
    height:420px;
    width: 630px;
  }
  .playLink {
    width: 269px;
    height: 28px;
    font-size: 20px;
    padding: 6px;
  }

  .dogTransparent {
    height: 39.19px;
  }
}

@media only screen and (min-width: 650px) {
  #contentContainer {
    padding: 39px 32.5px 45.5px 32.5px;
  }

  .logo {
    width: 86px;
    margin: 4.9px 4.9px 0 4.9px;
  }

  .logoWithLabel {
    width: 122.84px;
    margin-bottom: 8.19px;
  }
  #languages {
    margin-bottom: 23.4px;
    width: 409.5px
  }

  #frameworks {
    width: 409.5px;
  }

  .contentTitles {
    font-size: 32.5px;
    margin-bottom: 17.5px;
  }

  label {
    font-size: 11.7px;
    margin-top: 0.97px;
    letter-spacing: 0.5px;
  }
}

@media only screen and (max-width: 700px) {
  #projectsContainer {
    margin-bottom: 12.51vw;
  }

  .project {
    margin: 18px 0px;
    width: 525.69px;
  }

  .projectTitle {
    font-size: 26.25px;
    margin-bottom: 8.75px;
  }

  .projectCaptionContainer {
    padding: 17.5px;
  }

  .projectCaption {
    letter-spacing: 0.7px;
    font-size: 10.5px;
  }

  .projectLink {
    height:350.48px;
  }

  .repo-link {
    letter-spacing: 0;
  }

  .playLink {
    width: 206.5px;
    height: 21px;
    font-size: 15.4px;
    padding: 5.6px;
  }

  .tags-wrapper {
    margin-top: 14px;
  }


  .tag {
    font-size: 14px;
    outline: 0.1vw solid #8a8a8a;
    padding: 3.5px;
    margin: 0px 7px;
  }
  .tag.first {
    margin: 0px 7px 0px 0px;
  }

  .dogTransparent {
    height: 28px;
  }
}

@media only screen and (max-width: 709px) {
  /* iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  .resume-iframe-wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
  } */
}

@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
  .header.scrolled {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .navLinks.scrolled {display:none}

  .navLinksAbout.scrolled {display:none}

  .app-title {
    font-size: 25.8px;
    margin: 7.5px 0 5px 0;
    text-align: center;
    width: 204px;
  }

  .navbar {
    padding: 0 11.4px 0 11.4px;
  }

  .navLinks {
    font-size: 15px;
    margin-left: 11.4px;
    margin-right: 11.4px;
  }
  .navLinksAbout {
    font-size: 15px;
    margin-right: 11.4px;
  }

  .contactLink {
    font-size: 15px;
  }

  .contactButton {
    height: 26.4px;
    width: 71.4px;
    margin-left: 11.4px;
  }

  .navLogos {
    width: 22.5px;
    margin-left: 11.4px;
    margin-right: 11.4px;
  }

  #contactEmail {
    font-size: 15px;
    letter-spacing: 1.2px;
    margin-left: 13.7px;
    margin-top: 20.58px;
    height: 22px;
    width: 300px;
    padding: 3.4px;
  }

  #contactTitle {
    font-size: 42px;
    margin-left: 13.7px;
    width: 150px;
  }

  #headline {
    margin-top: 90px;
  }

  label {
    font-size: 10.8px;
    margin-top: 0.91px;
    letter-spacing: 0.6px;
  }
  #jeremyCartoonContainer {
    width: 89px;
  }
  #jeremyCartoon {
    width: 89px;

  }
  footer {
    font-size: 9px;
    letter-spacing: 0.5px;
  }
  .contactLogos {
    height: 32.92px;
    width: 32.92px;
  }
  #contactLogoContainer {
    margin-top: 6px;
    margin-left: 12.8px;
  }
  .contactLinks {
    margin-right: 20px;
  }
/*
  #copySuccess {
    font-size: 9px;
  } */
  .modal-image {
    width: 196.56px;
    margin: 30px 0 0 0;
    z-index: 1;
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .modal-copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 15px 15px 15px;
    font-size: 9px;
    line-height: 14px;
    margin: 12px 0 0 0;
    z-index: 1;
    width:
  }

  .modal-title {
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    text-align: center;
  }

  .modal-subtitle {
    font-size: 18px;
  }

  .modal-window-background {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .modal-window-background-half {
    height: 33%;
    width: 100%;
  }


  #aboutCopy {
    font-size: 12px;
    letter-spacing: 0.49px;
    line-height: 16px;
    margin: 0 0 18px 0;
  }
  .about-buttons {
    padding: 3px;
    font-size: 12px;
    margin-right: 18px;
  }
  #headshotSpan {
    width: 108px;
  }

}

@media only screen and (max-width: 500px) {
  #aboutCopyContainer {
    flex-direction: column;
  }
  #aboutCopy {
    text-align: center;
  }
  #aboutCopyWidth {
    width: 100%;
    margin-left: 0px;
    align-items: center;
  }
  #headshot {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 523px) {
  .project {
    margin: 3.45vw 0px;
    width: 100%;
  }

  .projectLink {
    height: 66.94vw;
  }

  .tag {
    font-size: 2.68vw;
    outline: 0.1vw solid #8a8a8a;
    padding: 0.67vw;
    margin: 0px 1.35vw;
  }
  .tag.first {
    margin: 0px 1.35vw 0px 0px;
  }
}

@media only screen and (max-width: 450px) {
  #contactEmail {
    font-size: 3.35vw;
    letter-spacing: 0.259vw;
    margin-left: 1vw;
    margin-top: 20.58px;
    height: 5vw;
    width: 66.5vw;
    padding: 0.75vw;
  }
}

@media only screen and (max-width: 425px) {
  .app-title.scrolled {width: 150px}
}

@media only screen and (max-width: 400px) {
  .navbar {padding: 0 5px}
  /* #contactEmail {
    font-size: 3.35vw;
    letter-spacing: 0.259vw;
    margin-left: 13.7px;
    margin-top: 20.58px;
    height: 5vw;
    width: 66.5vw;
    padding: 0.75vw;
  } */
  /* .playLink {
    margin-top: 10px;
  } */
}

@media only screen and (max-width: 385px) {
  .playLink {
    width: 53.5vw;
    height: 5.3vw;
    font-size: 4vw;
    padding: 1.38vw;
  }

  .dogTransparent {
    height: 7.3vw;
  }
}

@media only screen and (max-width: 374px) {
  .navLinks {margin: 0 6px;}
  .navLinksAbout {margin: 0 6px 0 0;}
  .navLogos {margin: 0 6px;}
  .contactButton {margin: 0 0 0 6px;}
}
